<html>
	<head>
		<meta charset="UTF-8">
		<title>Солитер</title>
		<script type="text/javascript" src="vue.min.js"></script>
		<link rel="stylesheet" href="soliter.css">
	</head>
	<body>
		<div id="app">
			<div class="map">
				<template v-for="(x, line) in fields">
					<field
						v-for="(y, item) in line"
						:x="x"
						:y="y"
						:place="item.place"
						@click="click(x, y, item)"
						:selected="x === selX && y === selY"
					></field>
				</template>
			</div>
		</div>
		<script type="text/javascript" src="soliter.js"></script>
	</body>
</html>
